<div class="m-2 p-1 position-relative">


    <button class="btn btn-fix text-left" (click)="onSelectionChange()" [class.selected-beverage]="beverage.selected" [disabled]="!beverage.available || notEnoughMoney" style="opacity: unset;">
    <div class="card" style="width: 10rem; height: 12rem;">
      <div [class.disabled-card]="!beverage.available || (notEnoughMoney &&  userInsertedCoins)">
        <img [beverage-image]="beverage.beverageTypeId" class="card-img-top" style="width: 10rem; height: 10rem;">
      </div>

      <div class="card-block w-100 d-flex align-items-center" style="background-color: seashell;">
        <div class="card-text w-50 text-left d-inline-block mr-auto beverage-name">{{beverage.name}}</div>
        <span class="badge badge-info">{{beverage.cost | currency:'': 'symbol': '1.0-0'}}</span>
      </div>

    </div>
  </button>
    <div class="image-text-centered" *ngIf="!beverage.available"><span>
      Недоступен
    </span></div>
    <div class="image-text-centered" *ngIf="(notEnoughMoney &&  userInsertedCoins) && beverage.available"><span>
      Недостаточно денег
    </span></div>
</div>