<div class="container">
    <div *ngIf="beverage.id && !imageChanged">
        <img [beverage-image]="beverage.id">
    </div>

    <div *ngIf="!beverage.id || imageChanged">
        <img [src]="previewImage">
    </div>

    <input #selectedImage type="file" (change)="onImageChange($event)" />

    <div class="row">

    </div>
    <div class="row">
        <button class="btn btn-primary" (click)="onSaveButtonPressed()">Сохранить</button>
        <button class="btn btn-secondary" (click)="onCancelButtonPressed()">Отменить</button>
    </div>
</div>