<div class="container-fluid">

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" (click)="onAddBeverageClick()">
                Добавить
            </button>
            <button class="btn btn-danger" (click)="onImportBeveragesClick()">Импорт</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Имя
                    </th>
                    <th class="text-center">
                        Кол-во
                    </th>
                    <th class="text-center">
                        Цена
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let beverage of repository.beverages">
                    <td>
                        {{beverage.name}}
                    </td>
                    <td class="text-center">
                        {{beverage.quantity}}
                    </td>
                    <td class="text-center">
                        {{beverage.cost}}
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-warning" (click)="onEditBeverageClick(beverage)">Изменить</button>
                        <button type="button" class="btn btn-danger" (click)="onDeleteClick(beverage)">Удалить</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>