<div>
    <div *ngIf="displayService.displayState == 1">
        <div class="container">
            <div class="row">
                <span>Current balance: {{coinboxService.getCurrentCoinBasketValue()}}</span>
            </div>
            <div class="row">
                <div *ngIf="!checkThatBeverageIsSelected()">
                    <span>Выберите напиток</span>
                </div>
                <div *ngIf="checkThatBeverageIsSelected() && coinboxService.getCurrentCoinBasketValue()==0">
                    <span>Внесите деньги для покупки напитка</span>
                </div>
                <div *ngIf="checkThatBeverageIsSelected() && coinboxService.getCurrentCoinBasketValue()!=0 
                    && !checkThatThereIsEnoughMoneyInCoinBasketForSelectedBeverage()">
                    <span>Недостаточно денег для покупки напитка</span>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" (click)="onMakeOrderButtonClick()" [disabled]="!checkThatBeverageIsSelected() || !checkThatThereIsEnoughMoneyInCoinBasketForSelectedBeverage()">Купить</button>
            </div>
        </div>
    </div>
</div>