<div>
    <div *ngIf="displayService.displayState == 1">
        <div class="container">
            <div class="row">
                <span>Баланс: {{coinboxService.getCurrentCoinBasketValue()}}</span>
            </div>
            <div class="row">
                <div *ngIf="!checkThatBeverageIsSelected() && coinboxService.getCurrentCoinBasketValue()!=0">
                    <span>Выберите напиток</span>
                </div>
                <div *ngIf="coinboxService.getCurrentCoinBasketValue()==0">
                    <span>Внесите деньги для покупки напитка</span>
                </div>
                <div *ngIf="checkThatBeverageIsSelected() && coinboxService.getCurrentCoinBasketValue()!=0 
                    && !checkThatThereIsEnoughMoneyInCoinBasketForSelectedBeverage()">
                    <span>Недостаточно денег для покупки напитка</span>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" (click)="onOrderMadeButtonClick()" [disabled]="!checkThatBeverageIsSelected() || !checkThatThereIsEnoughMoneyInCoinBasketForSelectedBeverage()">Купить</button>
            </div>
        </div>
    </div>
    <div *ngIf="displayService.displayState == 2">
        <span>{{displayService.message}}</span>
    </div>
    <div *ngIf="displayService.displayState == 3">
        <span>{{displayService.notification}}</span>
    </div>
    <div *ngIf="displayService.displayState == 4">
        <span>Заберите напиток</span>
        <button type="button" class="btn btn-primary" (click)="onContinuePurchasesButtonClick()">Продолжить покупки</button>
        <button type="button" class="btn btn-secondary" *ngIf="!coinboxService.getCurrentCoinBasketValue()==0" (click)="onTakeChangeButtonPressed()">Забрать
      сдачу</button>
    </div>
</div>